.home {
    width: 100%;
    height: 100vh;
    background-color: var(--main-bg);
    overflow: hidden;
    padding-top: 80px;
}

.home::after {
    position: absolute;
    top: 70px;
    left: 10px;
    color: #999;
    content: '<body>';
    font-style: italic;
}

.home::before {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: #999;
    content: '</body>';
    font-style: italic;
}

.home_wrapper {
    padding-bottom: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.home_wrapper_left {
    display: grid;
    place-items: center;
    /* background-color: #323; */
    animation: shov 1s linear both;
}

@keyframes shov {
    from {
        transform: translateX(-100%) rotate(-100deg);
        opacity: .2;
    }

    to {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}


.home_wrapper_left .home_img {
    max-width: 60%;
    max-height: 60%;
    background-color: #fff;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    box-shadow: -20px -20px 40px var(--color);
    overflow: hidden;
}

.home_wrapper_left .home_img img {
    transform: rotate(-45deg);
    width: 80%;
}

.home_wrapper_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    animation: shovright 1s linear both;
}


@keyframes shovright {
    from {
        transform: skewX(-50deg);
    }

    to {
        transform: skewX(0);
    }
}


.home_wrapper_right h1 {
    font-weight: normal;
    line-height: 1.5;
    font-size: 45px;
    position: relative;
}

.home_wrapper_right h1::after,
.home_wrapper_right h1::before,
.home_wrapper_right p::after,
.home_wrapper_right p::before,
.home_wrapper_right a:first-child::before,
.home_wrapper_right a:first-child:after {
    color: #999;
    font-style: italic;
    font-size: 16px;
    position: absolute;
}


.home_wrapper_right h1::after {
    top: 20px;
    left: -50px;
    content: '<h1>';
}

.home_wrapper_right h1::before {
    bottom: 15px;
    right: -50px;
    content: '</h1>';
}

.home_wrapper_right h1 span {
    font-weight: bolder;
}


.home_wrapper_right p {
    position: relative;
}

.home_wrapper_right p::after {
    top: 0px;
    left: -35px;
    content: '<p>';
}

.home_wrapper_right p::before {
    bottom: 0px;
    right: 70px;
    content: '</p>';
}

.home_wrapper_right div {
    margin-top: 30px
}

.home_wrapper_right a {
    padding: 7px 20px;
    border: 1px solid var(--btn-color);
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    z-index: 3;
    transition: .9s;
}

.home_wrapper_right a:hover {
    background-color: var(--btn-color);
}

.home_wrapper_right a:first-child:after {
    top: -20px;
    left: -50px;
    content: '<button>';
}

.home_wrapper_right a:first-child::before {
    bottom: -20px;
    left: -50px;
    content: '</button>';
}

@media screen and (max-width:1250px) {
    .home_wrapper_right {
        padding-right: 50px;
    }

    .home_wrapper_right h1 {
        font-size: 40px;
    }

}

@media screen and (max-width:1100px) {
    .home_wrapper_left .home_img {
        max-width: 50%;
        max-height: 50%;
    }

    .home_wrapper_right h1 {
        font-size: 37px;
    }

    .home_wrapper_right p {
        font-size: 15px;
    }

    .home_wrapper_right a {
        font-size: 15px;
        padding: 6px 15px;
    }
}

@media screen and (max-width:995px) {

    .home_wrapper_right h1::after,
    .home_wrapper_right h1::before,
    .home_wrapper_right p::after,
    .home_wrapper_right p::before,
    .home_wrapper_right a:first-child::before,
    .home_wrapper_right a:first-child:after {
        font-size: 13px;
    }

    .home_wrapper_left .home_img {
        max-width: 49%;
        max-height: 49%;
    }

    .home_wrapper_right h1 {
        font-size: 32px;
    }

    .home_wrapper_right p {
        font-size: 14px;
    }

    .home_wrapper_right a {
        font-size: 14px;
        padding: 5px 12px;
    }
}

@media screen and (max-width:800px) {

    *::after,
    *::before {
        display: none;
    }

    .home_wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .home_wrapper_left .home_img {
        max-width: 230px;
        max-height: 230px;
    }

    .home_wrapper_right {
        padding-right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 20px;
        padding: 0 30px;
    }
}


@media screen and (max-width:400px) {
    .home_wrapper_left .home_img {
        max-width: 200px;
        max-height: 200px;
    }

    .home_wrapper_right h1 {
        line-height: 1;
    }

    .home_wrapper_right {
        font-size: 13px;
    }
}

@media screen and (max-width:370px) {
    .home_wrapper_right div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}